@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");



.about {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  color: #34302d;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-image: linear-gradient(111.1deg, #002846 -4.8%, #ff7373 82.7%, #ffaf7b 97.2%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media (max-width: 600px) {
  .about {
    align-items: center;
  }
}

.profile_container {
  border-radius: 16px;
  width: 900px;
  height: 420px;
  margin: 25px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.1), 0px 0px 10px rgba(255, 255, 255, 0.15);
}
@media (max-width: 600px) {
  .profile_container {
    height: 500px;
  }
}
.profile_container::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(223, 228, 255, 0.3);
  filter: blur(2px);
}
.profile_container .wraps {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.profile_container .wraps .profile_img {
  width: 40%;
  flex: 0 0 40%;
  height: calc(100% + 1px);
  position: absolute;
  top: 0px;
  left: 0px;
  clip-path: ellipse(100% 85% at 0% 50%);
  background: url("../image/photo.jpg") no-repeat top;
  background-size: auto 114%;
  background-position-x: center;
  background-color: rgba(223, 228, 255, 0.25);
}
@media (max-width: 600px) {
  .profile_container .wraps .profile_img {
    width: 100%;
    flex: 0 0 100%;
    height: 60%;
    position: static;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  }
}
.profile_container .wraps .profile_img span {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(111.1deg, #002846 -4.8%, #ff7373 82.7%, #ffaf7b 97.2%);
  opacity: 0.16;
}
.profile_container .wraps .profile_details {
  width: 60%;
  flex: 0 0 60%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: 25px;
  height: fit-content;
  text-align: center;
}
@media (max-width: 600px) {
  .profile_container .wraps .profile_details {
    width: 100%;
    flex: 0 0 100%;
    height: 40%;
    position: static;
    padding: 20px 15px;
  }
}
.profile_container .wraps .profile_details .username {
  font-size: 40px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
}
.profile_container .wraps .profile_details .user_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}
.profile_container .wraps .profile_details .user_info .info {
  background-color: #333;
  padding: 0px 10px;
  height: 22px;
  line-height: 22px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  margin: auto 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s linear;
}

.profile_container .wraps .profile_details .user_links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_container .wraps .profile_details .user_links .link_btn {
  transition: all 0.3s;
  text-decoration: none;
  background-color: #fff;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
}
.profile_container .wraps .profile_details .user_links .link_btn svg {
  width: 25px;
  height: 25px;
}
.profile_container .wraps .profile_details .user_links .link_btn svg:not(.fill) {
  fill: none;
  stroke: white;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 90px;
  height: 80px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-size: 30px;
  font-family: courier, sans;

}


.project_card {
  display: block;
  top: 0px;
  position: relative;
  max-width: 1200px;
  height: 240px;
  background-color: #f6ffff;
  border-radius: 8px;
  padding: 24px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #cccccc;
}

.project_card h3{
  color: #002846; 
  font-size: 30px;
}
.project_card p{
  color: #002846; 
   
}



.project_card .go-corner {
  background-color: #00838d;
  height: 105%;
  width: 60px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(5deg);
  margin-right: -80px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8F479A 1%, #DC2A74 100%);
}
.project_card .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}
.project_card:hover {
  border: 1px solid #CD3D73;
  transition: all 0.2s ease-out;
  box-shadow: 10px 10px 10px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: white;
}
.project_card h3 {
  margin-top: 8px;
}

.project_card:hover .go-corner {
  margin-right: -15px;
}
.project_card:hover .go-arrow {
  opacity: 1;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  height: 26px;
  font-size: 14px;
  font-weight: 400;
  width: auto;
  line-height: 26px;
  padding: 0 10px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag1{
  background-color: #DC2A74;
}

.tag2{
  background-color:#00838d;
}
.tag3{
  background-color:#ff7373;
}
.tag4{
  background-color:darkorange;
}
.tag5{
  background-color:darkorchid;
}
.tag6{
  background-color:forestgreen;
}