@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");


.nav_title{
  font-size:25px;
  color: #fff;
  padding-left: 10px;
  padding-right: 50px;
}

.nav_logo{
  width:35px; 
  height:34px;
  margin-top: -7px;
}

@media (max-width: 600px) {
  .nav_title{
    font-size:17px; 
    padding-left: 2px;
  }
  .nav_logo{
    height: 25px;
    width: 25px;
  }

  .nav_link a{
    font-size: 15px;
    padding-left: 5px !important;
  }
  
}

.jumbo{
  height: 500px;
  width: 100%;
  color: #fff;
}

.head_name{
  padding-top: 8%;
  padding-left: 3%;
  font-size:80px
}

.head_sub{
  padding-left: 3%;
  font-size:30px
}

@media (max-width: 600px) {
  .jumbo{
    height: 200px;
    width: 100%;
    color: #fff;
  }
  
  .head_name{
    font-size:33px
  }

  .head_sub{
    font-size:13px
  }
}







/*  -- About Section -- */

.about {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-image: linear-gradient(111.1deg, #002846 -4.8%, #ff7373 82.7%, #ffaf7b 97.2%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.about_title{
  color: #fff;
  font-size: 60px;
  padding-top: 20px;
}

.profile_container {
  border-radius: 16px;
  width: 900px;
  height: 420px;
  margin: 25px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.1), 0px 0px 10px rgba(255, 255, 255, 0.15);
}

.profile_container::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(223, 228, 255, 0.3);
  filter: blur(2px);
}
.profile_container .wraps {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.profile_container .wraps .profile_img {
  width: 40%;
  flex: 0 0 40%;
  height: calc(100% + 1px);
  position: absolute;
  top: 0px;
  left: 0px;
  clip-path: ellipse(100% 85% at 0% 50%);
  background: url("../image/photo.jpg") no-repeat top;
  background-size: auto 114%;
  background-position-x: center;
  background-color: rgba(223, 228, 255, 0.25);
}

.profile_container .wraps .profile_img span {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(111.1deg, #002846 -4.8%, #ff7373 82.7%, #ffaf7b 97.2%);
  opacity: 0.16;
}
.profile_container .wraps .profile_details {
  width: 60%;
  flex: 0 0 60%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: 25px;
  height: fit-content;
  text-align: center;
}

.profile_container .wraps .profile_details .username {
  font-size: 40px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
}
.profile_container .wraps .profile_details .user_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .about {
    font-size: 10px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about_title{
    margin-top: 10px;
    color: #fff;
    font-size: 30px;
    padding-bottom: 10px;
  }
  
  .profile_container {
    border-radius: 16px;
    width: 90%;
    height: auto;
    margin-top: -1px;
  }
  
  .profile_container .wraps .profile_img {
    padding-top: 150px;
    width: 100%;
    flex: 0 0 100%;
    height: 60%;
    position: static;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  }
  
  .profile_container .wraps .profile_details {
    width: 100%;
    flex: 0 0 100%;
    height: 60%;
    position: static;
    padding: 10px 15px;
  }

  .profile_container .wraps .profile_details .username {
    font-size: 20px;
    font-weight: 500;
  }
  .profile_container .wraps .profile_details .user_info {
    font-size: 10px;
    font-weight: 500;
  }
}

.profile_container .wraps .profile_details .user_links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.profile_container .wraps .profile_details .user_links .link_btn {
  transition: all 0.3s;
  text-decoration: none;
  background-color: #fff;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 5px;
}

.social{
  font-size: 30px;
}

.profile_container .wraps .profile_details .user_links .link_btn svg {
  width: 25px;
  height: 25px;
}

@media (max-width: 600px) {
  .profile_container .wraps .profile_details .user_links .link_btn {
    width: 30px;
    height: 25px;
  }
  .profile_container .wraps .profile_details .user_links .link_btn svg {
    width: 10px;
    height: 10px;
  }

  .social{
    font-size: 17px;
  }
}







/* -- Skills -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,800&display=swap');

.skills {
font-size: .5 em;
line-height: 1.6;
font-weight: 400;
font-family: 'lux', sans-serif;
color: #222;
background-color: #f6f6f6;
  box-sizing: border-box !important;
  margin: 0;

}

p {
  font-size: 80%;
  margin-top: 0; 
}

section.intro {
font-family: oswald;
position: relative;
height: 100vh;
width: 100%;
background: #f6f6f6;
background: -moz-radial-gradient(center, ellipse cover, #f6f6f6 1%, #d3d3d3 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#f6f6f6), color-stop(100%,#d3d3d3));
/* background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 1%,#d3d3d3 100%); */
background: -o-radial-gradient(center, ellipse cover, #f6f6f6 1%,#d3d3d3 100%);
background: -ms-radial-gradient(center, ellipse cover, #f6f6f6 1%,#d3d3d3 100%);
/* background: radial-gradient(ellipse at center, #f6f6f6 1%,#d3d3d3 100%); */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#d3d3d3',GradientType=1 );
overflow: hidden;
z-index: 1;
}

.intro-block {
position: relative;
display: flex;
align-items: center;
height: 100%;
box-shadow: inset 0px 0px 64px 0px rgba(50,50,50,0.75);
}

.hex-bg-big-text {
position: absolute;
z-index: -1;
height: 100%;
width: 100%;
}

.centerfold-wrap {
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex: 1;
}

.hoverblock {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.hover-notify {
position: absolute;
bottom: -80px;
left: 0;
width: 100%;
text-align: center;
font-size: 50px;
}

.code-display {
position: relative;
color: #f6f6f6;
width: 600px;
height: 260px;
}

.skill_title {
font-family: 'Poppins', sans-serif;
font-size: 5.0rem;
color: #333;
z-index: 10;
text-align: center;
padding-top: 50px;
padding-left: 150px;
margin-bottom: -150px;
}

.code-display h1 {
color: #333;
}

.code-description {
width: 100%;
height: 100%;
padding-top: 100px ;
color: #333;
}

.code-description * {
display: none;
}


.code-description > div {
padding: 0px 40px;
font-size: 26px;
border-left: 2px solid #DDDDDD;
}

.desc-active {
display: block;
/*height: 100%;*/
position: relative;
}

.desc-active > p {
display: block;
margin: 0;
}

.desc-active > p > span {
display: inline-block;
/* font-weight: bold; */
width: 125px;
}

p.code-title {
position: relative;
font-size: 6rem;
}

.desc-active::after {
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
content: "";
opacity: .2;
z-index: -1;
}

.backend-desc.desc-active::after {
background-repeat: no-repeat;
background-size: contain;
background-position: right center;
}

.frontend-desc.desc-active::after {
background-repeat: no-repeat;
background-size: contain;
background-position: right center;
}

.html-desc.desc-active::after {
background-repeat: no-repeat;
background-size: contain;
background-position: right center;
}

.css-desc.desc-active::after {
background-repeat: no-repeat;
background-size: contain;
background-position: right center;
}

.javascript-desc.desc-active::after {
background-repeat: no-repeat;
background-size: contain;
background-position: right center;
}

.gui-desc.desc-active::after {
background-repeat: no-repeat;
background-size: contain;
background-position: right center;
}

.seo-desc.desc-active::after {
background-repeat: no-repeat;
background-size: contain;
background-position: right center;
}


.hex-master-wrap {
  position: relative;
  /* width: 50%; */
  min-width: 665px;
  height: 460px;
}

.label img{
  width: 50% !important;
  height: auto !important;
}

.border-1,
.border-2,
.border-3 {
position: absolute;
width: 100%;
height: 88px;
top: 46px;
left: 0;
border-left: 6px solid !important;
border-right: 6px solid !important;
border-radius: 8px;
z-index: 2;
border-color: #333;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.border-2 {
transform: rotate(60deg);
}

.border-3 {
transform: rotate(120deg);
}

.border-3::before {
display: none;
position: absolute;
content: "";
bottom: 10%;
left: 42px;
width: 50%;
height: 83%;
background-color: rgba(255, 255, 255, 0);
border-top: 1px solid;
border-bottom: 1px solid;
border-color: white;
border-radius: 50%;
visibility: visible;
z-index: -1;
/* transform: rotate(60deg); */
}



.intro-block .grid-1,
.intro-block .grid-2,
.intro-block .grid-3 {
display: flex;
align-items: center;
justify-content: center;
width: 75%;
margin: 0 auto;
margin-bottom: -50px;
}

.intro-block .grid-3 {
margin-bottom: -50px;
}

.intro-block .grid-2,
.intro-block .grid-3 {
margin-top: -50px;
}

.hex-wrap {
position: relative;
width: 150px;
height: 190px;
margin: 0 1em 0 0;
border-top-left-radius: 100%;
border-top-right-radius: 100%;
border-bottom-left-radius: 100%;
border-bottom-right-radius: 100%;
border: 0px solid;
transform: scale(1.1);
}

.hex-wrap .label {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 100%;
height: 58px;
color: #f6f6f6;
display: flex;
justify-content: center;
align-items: center;
z-index: 3;
}

.hex-wrap .label svg, .hex-wrap .label img {
height: 50px;
width: 50px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.hexagon {
width: 300px;
height: 150px;
margin: 15px 0 0 -75px;
overflow: hidden;
visibility: hidden;
-webkit-transform: rotate(120deg);
-moz-transform: rotate(120deg);
-ms-transform: rotate(120deg);
-o-transform: rotate(120deg);
transform: rotate(90deg);
cursor: pointer;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.hex-inner-1 {
overflow: hidden;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transform: rotate(-60deg);
-moz-transform: rotate(-60deg);
-ms-transform: rotate(-60deg);
-o-transform: rotate(-60deg);
transform: rotate(-60deg);
}

.hex-inner-2 {
position: relative;
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: 50%;
/* background-image: url(http://placekitten.com/240/240); */
visibility: visible;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transform: rotate(-60deg);
-moz-transform: rotate(-60deg);
-ms-transform: rotate(-60deg);
-o-transform: rotate(-60deg);
transform: rotate(-60deg);
overflow: hidden;
}


.hex-inner-2::before, .hex-inner-2::after {
position: absolute;
background-repeat: no-repeat;
background-position: 50%;
background-size: contain;
top: 0;
left: 0;
height: 110%;
width: 110%;
content: "";
-webkit-transform: rotate(30deg);
transform: rotate(30deg);
}

.hex-init {
position: absolute;
top: 46px;
left: 0px;
height: 46%;
width: 100%;
z-index: 9;
transform: rotate(-60deg);
cursor: pointer;
}

.hex-init::after {
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
content: "";
transform: rotate(-60deg);
}

.hex-init::before {
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
content: "";
transform: rotate(60deg);
}

@media (max-width: 600px) {
  .intro{
    height: 75% !important;
  }
  .intro-block{
    height: 80vh;
  }
  .skill_title {  
    position: absolute;
    text-align: left;  
    font-size: 3.0rem;
    padding-top: 6px;
    padding-left: 115px;
    margin-bottom: -70px;
    }

    .code-display {
      position: relative;
      color: #f6f6f6;
      width: 550px;
      height: 100px;
      }
      
      .code-description {
      width: 100%;
      height: 100%;
      padding-top: 0px ;
      margin-top: -25px;
      color: #333;
      }  


      .code-description > div {
      padding: 0px 20px;
      font-size: 20px;
      }

      .code-description p{
        width: 320px;
        overflow-wrap:inherit  !important;
      }
      
      
      p.code-title {
      position: relative;
      font-size: 2.5rem;
      padding-top: 10px !important;
      }
      
      
      .hex-master-wrap {
        position: relative;
        /* width: 50%; */
        min-width: 205px;
        height: 200px !important;
      }
      
      .label img{
        width: 20px !important;
        height: auto !important;
        margin-top: -58px;
      }
      
      .border-1,
      .border-2,
      .border-3 {
      position: absolute;
      width: 100%;
      height: 40px;
      top: 10px;
      left: 0;
      border-left: 6px solid !important;
      border-right: 6px solid !important;
      
      }
      
      .border-2 {
      transform: rotate(60deg);
      }
      
      .border-3 {
      transform: rotate(120deg);
      }
      
      .hex-wrap {
      position: relative;
      width: 60px;
      height: 120px;
      margin: 0 1em 0 0;
      top:20px;
      left: -90px;
      }

      .hex-init,.label,.hex-inner-1,.hex-inner-2,.hex-inner-2::after,.hex-inner-2::before,.grid-1,.grid-2,.grid-3{
        top: 0px !important;
      }
      
      .code-description{
        margin-top: 50px;
      }

      .hoverblock{
        height: 100px;
      }
      .hex-wrap .label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 58px;
      color: #f6f6f6;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      }
           
      
}







/* -- Achievement section -- */


.ach_title{
  font-size: 45px;
  text-align: center;
  padding: 20px;
}

.ach_body{
  display: flex;
  justify-content: center;
}
.ach_item{
  margin: 0px;
  font-size: 23px;
  list-style-type:'\1F920';
  list-style-position: inside;
  width: 90%;
}

.ach_item li{
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.ach_item li:hover {
  border: 1px solid #CD3D73;
  box-shadow: 10px 10px 10px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: #ff7373;
}

@media (max-width: 600px) {
  .ach_title{
    font-size: 30px;
  }
  
  .ach_item li{
    font-size: 15px;
  }
}









/* -- blog section -- */

.blog{
  padding: 30px;
  padding-bottom: 60px;
}
.blog_title{
  font-size: 45px;
  text-align: center;
  padding: 20px;
}

.blog_items{
  display: flex;
  justify-content:space-evenly;
}

.blog_item{
  border-radius: 15px;
  width: 20rem;
}

.blog_item img{
  border-radius: 15px 15px 0px 0px;
  height: 200px;
}

.card_button{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.card_button .btn{
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.card_button .btn:hover{
  color:#fff;
  background-color:#002846;
}

.blog_item:hover{
  box-shadow: 10px 10px 10px rgba(38, 38, 38, 0.2);
  top: -4px;
}

.card-title{
  font-size: 17px;
}


@media (max-width: 600px) {
  .blog_title{
    font-size: 30px;
  }
  .blog_items{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
  }
  
  .card{
    margin-bottom: 15px;
  }

  .card_button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card_button .btn{
    width: 80%;

  }

}









/*  -- Project Cards -- */

.project_title{
  text-align: center;
  padding: 10px;
  padding: 20px;
  font-size: 45px;
}

.project_head{
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  font-size: 35px !important;
}

.cards_set{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 90px;
  height: 80px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-size: 30px;
  font-family: courier, sans;

}


.project_card {
  display: block;
  top: 0px;
  position: relative;
  width: 74%;
  height: auto;
  background-color: #f6ffff;
  border-radius: 8px;
  padding: 24px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #cccccc;
}


.project_card h3{
  color: #002846; 
  font-size: 30px;
}
.project_card p{
  color: #002846; 
   
}

.project_img{
  height:290px;
  width:100%;
  border-radius: 15px;
  border:1px solid rgb(133, 133, 133)
}

.project_card .go-corner {
  background-color: #00838d;
  height: 105%;
  width: 60px;
  padding-right: 1%;
  border-radius: 0;
  transform: skew(5deg);
  margin-right: -60%;
  align-items: start;
  background-image: linear-gradient(-45deg, #8F479A 1%, #DC2A74 100%);
}
.project_card .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}
.project_card:hover {
  border: 1px solid #CD3D73;
  transition: all 0.2s ease-out;
  box-shadow: 10px 10px 10px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: white;
}
.project_card h3 {
  margin-top: 8px;
}

.project_card:hover .go-corner {
  margin-right: -15px;
}
.project_card:hover .go-arrow {
  opacity: 1;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  height: 26px;
  font-size: 14px;
  font-weight: 400;
  width: auto;
  line-height: 26px;
  padding: 0 10px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}


@media (max-width: 600px) {
  .project_title{
    font-size: 35px;
  }
  
  .project_head{
    padding-top: 0px;
    font-size: 25px !important;
  }  

  .project_card {
    width: 84%;
    height: auto;
  } 

  .project_card p{
    color: #002846; 
     font-size: 14px !important;
  }

  .project_card .go-corner {
    margin-right: -32% !important; 
  }

  .project_img{
    margin-left: -15px;
    height:160px;
    width:auto;
  }
}


.tag1{
  background-color: #DC2A74;
}

.tag2{
  background-color:#00838d;
}
.tag3{
  background-color:#ff7373;
}
.tag4{
  background-color:darkorange;
}
.tag5{
  background-color:darkorchid;
}
.tag6{
  background-color:forestgreen;
}










/*  -- Footer -- */


.foot{
  padding-top: 20px;
}
.main_foot{
  margin: 0px;
  padding-left: 50px;
  align-items: center;

}
.links{
  padding-left: 4%;
  padding-right: 10%;
}

.moral{
  text-align: center;
  font-size: 17px;
  margin: 0px;
}
.contact{
  margin-right: 100px;  
  text-align: end;
}

.foot_head{
  font-weight: 800;
}

@media (max-width: 600px) {
  .size_footer{
    padding-top: 0px;
    height: 100px !important;
  }
  .links ul{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
  }

  .text-muted{
    padding: 5px;
  }

  .foot{
    padding-top: 20px;
  }
  .main_foot{
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 0px !important; 
    align-items: center;
  }
  .links{
    padding-left: 4%;
    padding-right: 10%;
    padding-top: 0px !important;
    padding-bottom: 0px !important; 
    font-size: 15px;
    text-align: center;
  }

  .text-center{
    padding: 0px !important;
    padding-bottom: 5px !important;
  }
  
  .moral{
    text-align: center;
    font-size: 13px;
    margin: 0px;
  }

  .contact{  
    text-align: center;
    font-size: 10px;
  }
}
